@import url('https://fonts.googleapis.com/css?family=Tinos:400,400i');

p {
  /* margin-left: 15%; */
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.4em;
  line-height: 1.4;
}

.video_wrapper {
  width:100%;
  height:100%;
  margin:0 auto;
  }
  
  .vid_iframe {
  position:relative;
  }
  
  .vid_iframe .ratio {
  display:block;
  width:100%;
  height:auto;
  }
  
  .vid_iframe iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  }

@media(max-width: 749px) {
  p {
    text-align: center;
  }
}